  <div class="pages-layout__left">
    <div class="pages-layout__media">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <h4>Hey, <%= current_user.first_name %>! go ahead and edit anything you'd like.</h4>
       <%= link_to "Go Back", :back, class: "btn" %>
    </div>
  </div>
  <div class="pages-layout__right white">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="input-field col m12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "validate" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col m12">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "validate" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="col m6">
          <div class="input-field inline">
            <%= f.label :password %>
            <%= f.password_field :password, class: "validate" %>
          </div>
        </div>
        <div class="col m6">
          <div class="input-field inline">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "validate" %>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="input-field col m12">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class: "validate" %>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn white-text" %>

      </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn white red-text text-accent-3", data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
