<nav class="<%= location %> navbar is-danger">
  <%= link_to 'Home', root_path,  class: "navbar-item" %>
  <%= link_to 'About Me', about_me_path,  class: "navbar-item" %>
  <%= link_to 'Contact', contact_path,  class: "navbar-item" %>
  <%= link_to 'Blog', posts_path,  class: "navbar-item" %>
  <%= link_to 'Portfolio', portfolios_path, class: "navbar-item" %>
</nav>
