<div class="posts-side-menu__post">
  <%= link_to "", post_path(post), class: "posts-side-menu__link", remote: true %>
  <div class="posts-side-menu__actions">
    <% if post.draft? && logged_in?(:site_admin) %>
      <%= link_to toggle_status_post_path(post), method: :post do %>
        <i class="material-icons">publish</i>
      <% end %>
    <% else %>
      <%= link_to toggle_status_post_path(post), method: :post do %>
        <i class="material-icons">drafts</i>
      <% end %>
    <% end %>
    <% if logged_in?(:site_admin) %>
      <%= link_to edit_post_path(post) do %>
        <i class="material-icons">create</i>
      <% end %>

      <%= link_to post_path(post), method: :delete, data: { confirm: 'Are you
      sure?' } do %>
      <i class="material-icons">delete_forever</i>
      <% end %>
    <% end %>
  </div>
  <h6 class="posts-side-menu__title">
    <%= post.title.capitalize %>
  </h6>
  <p class="posts-side-menu__date">
    <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
  </p>
  
</div>
