<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
  </head>

  <body>

    <div class="main-wrapper">
      <div id="particles-js"></div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="pages-layout">
      <%= render "shared/application_nav", location: "top" %>
        <%= yield %>  
      </div>
    </div>
  </body>
</html>
